body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    background: #000;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    outline: 2px solid #E4C97B;
    image-rendering: pixelated;
}

.github-link {
    margin-top: 30px;
}